<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Pick one" aria-label="Number" 
            matInput [formControl]="myControl"
            [matAutocomplete]="auto" >
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let host of hosts" [value]="host" 
                (click)="onSelect(host)">
                {{host}} 
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>